@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
.card {
  border-radius: 0.5rem;
  background-color: var(--colors-ui-base);
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  cursor: pointer;
  overflow: hidden;
}

.card img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  width: 100%;
  height: 250px;
}

.card__body {
  padding: 1rem 1.5rem 2rem;
}

.card__name {
  font-family: 'Nunito Sans', sans-serif;
  color: var(--colors-text);
  font-size: 24px;
  font-weight: 800;
  margin: 20px 0;
}

.card__population {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 20px;
  margin: 0 0 10px 0;
  color: var(--colors-text);
}

.card__region {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 20px;
  margin: 0 0 10px 0;
  color: var(--colors-text);
}

.card__capital {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 20px;
  color: var(--colors-text);
}
